/*Page biere Marvyn */

/*infos des bières*/

.img_biere img{
    width: 700px;
}

.produit {
    display: flex;
    justify-content: space-around;
    margin: 50px auto;
    width: 90%;
}

.infos_biere {
    text-align: start;
}

.infos_biere p {
    padding: 0;
}


/*panier*/

.ajout_panier {
    margin: 50px 0px;
    display: flex;
    justify-content: center;
}

.quantite_ajout {
    display: flex;
    width: 100px;
    margin-right: 30px;
}

.valeur_panier {
    padding: 0px 10px;
}


/*Boutons*/

#btn_ajout_panier {
    background-color: #ffe9bf;
    border: none;
    border-radius: 10px;
    width: 50%;
    padding: 1em;
    font-size: 1em;
    font-family: 'Winky Sans', sans-serif;
    font-weight: bold;
    color: red;
    transition: 0.3s;
}

#btn_ajout_panier:hover {
    background-color: #ffcc80;
    cursor: pointer;
    transform: scale(1.07);
}

.btn_panier {
    background-color: #ffffff00;
    border: none;
    padding: 0px 20px;
    font-size: 30px;
    font-family: 'Winky Sans', sans-serif;
    font-weight: bold;
    color: red;
    transition: 0.3s;
}

.btn_panier:hover {
    cursor: pointer;
    transform: scale(1.5);
}


/*Avis*/

.avis {
    margin: 100px auto;
    width: 90%;
    text-align: start;
}

.form_avis {
    list-style-type: none;
}

.biere input[type=text] {
    background-color: rgb(189, 189, 189);
    padding: 5px;
    width: 500px;
    min-height: 100px;
    border: none;
    border-radius: 5px;
    margin: 5px 0px;
}

#btn_avis {
    background-color: #ffe9bf;
    border: none;
    border-radius: 10px;
    padding: 1em;
    font-size: 1em;
    font-family: 'Winky Sans', sans-serif;
    font-weight: bold;
    color: red;
    transition: 0.3s
}

#btn_avis:hover {
    background-color: #ffcc80;
    cursor: pointer;
    transform: scale(1.07);
}