/*Catalogue Nos bieres */
.catalogue {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.catalogue img {
    width: 100%;
    border-radius: 7%;
}
.catalogue-carte {
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    margin: 1%;
    border-radius: 7%;
    border:  rgb(3, 89, 201) ;
}
.catalogue h1 a {
    text-decoration: none;
    color:  rgb(3, 89, 201) ;
}

.catalogue a{
    color: black;
}
 
 .catalogue a:hover {
    color: rgb(255, 68, 0);
}

.catalogue-carte:hover {
    border: rgb(3, 89, 201) solid;
}
