/*fabrication Neemati*/

body {
    background-image: url(../images/fondplage.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;  
}

#Etape {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    gap: 1em;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.29);
    border-radius: 20px;
    
}

#Etape figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#Etape div:hover {
    transform: scale(1.02);
}

#Etape p {
    font-size: 1.3em;
   
}

#Introduction p {
    font-size: 1.3em;
}

h3 {
font-size: 2.0em;
}