/*fabrication Neemati*/

body {
    background-image: url(../images/fond_page_fabrication.png);
}

#Etape {
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    gap: 1em;
    justify-content: space-between;
    align-items: center;
}

#Etape figure img {
    display: flex;
    width: 300px;
    border-radius: 12px;
    box-shadow: 0px 2px 8px rgb(97 69 5);
}