.panier-tableau {
  background-color: #ffd278;
  border: solid #e73c3c 5px;
  border-radius: 14px;
  padding: 0 0 1em;
}

.panier-tableau thead {
  background-color: #fd5b1e;
}

.panier-tableau thead tr {
  color: #fff9d8;
}

.panier-tableau thead tr th {
  padding: 1em;
}

.panier-tableau tbody img {
  width: 40%;
}
.panier-tableau tbody tr td {
  padding: 1em 4em 0;
}

.passer-commande {
    padding: 1rem 2rem;
    border: none;
    border-radius: 30px;
    font-weight: bold;
    font-size: 0.9em;
    color: #fff;
    cursor: pointer;
    background: linear-gradient(to right, #ffcb05, #ff8800);
    text-decoration: none;
    transition: transform 0.2s;
}


.passer-commande:hover {
    transform: scale(1.05);
    background: linear-gradient(270deg, #A4D4AE, #E07A5F, #F4D35E, #E5989B, #d2e3cc, #96cca1);
    background-size: 1200% 100%;
    animation: rainbow-gradient 6s linear infinite;
    color: #464646;
}