/*Base CSS site web CALUFA */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(3, 89, 201, 0.9);
    color: #fff;
    font-family: 'Gagalin', sans-serif;
    text-align: center;
    font-size: 2em;
    z-index: 1000;
    transition: all 0.3s ease;
}

header.shrink {
    background: rgba(3, 89, 201, 0.7);
    font-size: 1.1em;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

header ul li img {
    width: 5em;
}

header a:hover {
    text-decoration: underline 3px;
    text-underline-offset: 0.1em;
}

nav ul {
    list-style: none;
    padding: 0.6em 0em 0.6em 3.8em;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

nav ul li {
    margin: 0 0.6em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: 0.2s;
}

.panier-lien {
    position: relative;
    display: flex;
    align-items: center;
}

.panier-lien:hover {
    text-decoration: none;
}

.panier-icone {
    width: 1.3em;
    height: auto;
    margin: 0.3em 0 0 0;
}


.panier-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 0.85em;
    margin-left: 0.5em;
}

.panier-total {
    font-size: 0.75em; 
    color: #fff9d8;
}

.panier-compteur {
    position: absolute;
    top: -6px;
    left: 17px;
    background: red;
    color: white;
    border-radius: 50%;
    padding: 0.3em 0.6em;
    font-size: 0.5em;
}

#toast {
    position: fixed;
    top: 20px;
    right: -400px;
    background-color: #118C4F;
    color: white;
    padding: 15px 25px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    z-index: 9999;
    opacity: 0;
    transition: all 0.5s ease;
}

#toast.show {
    right: 20px;
    opacity: 1;
}

#toast.hide {
    right: -400px;
    opacity: 0;
}


.toast-visible {
    opacity: 1 !important;
    transform: translateX(0) !important;
}

#toast.toast-hidden {
    opacity: 0;
    transform: translateX(100%);
}








footer {
    background: rgb(255, 68, 0);
    color: #fff;
    font-family: 'Gagalin', sans-serif;
    text-align: center;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer p {
    margin: 0;
    font-size: 1.2em;
}

footer a {
    color: #fff;
    text-decoration: none;
    transition: 0.2s;
}

.apropos {
    text-align: start;
}

.apropos p {
    margin-bottom: 0.5em;
}

.apropos p a:hover {
    text-underline-offset: 0.2em;
    text-decoration: underline;
}

.reseaux-sociaux p {
    margin-bottom: 0.5em;
    font-size: 2em;
}

.reseaux-sociaux img {
    margin-left: 1em;
    transition: 0.2s;
}

.reseaux-sociaux img:hover {
    transform: scale(1.2);
}






body,
button {
    margin: 0;
    padding: 0;
    font-family: 'Winky Sans', sans-serif;
    font-weight: normal;
}

h1 {
    font-size: 4em;
    font-weight: normal;
    font-family: 'Gagalin', sans-serif;
}

h2 {
    font-size: 2em;
    font-weight: normal;
    font-family: 'Gagalin', sans-serif;
}

main {
    padding: 12em 3em 0em 3em;
    text-align: center;
}

section {
    margin-bottom: 2em;
}

a {
    text-decoration: none;
    width: 100%;
}

a:hover {
    color: #ffe9bf;
}